*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: auto;
}
body{
  background-color: black;
  color: white;
}
::-webkit-scrollbar-thumb {
  background: #004aad; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #004aad; 
}
.active{
  background-color: #f3f4f6;
  color: #4770ff;
  fill: #4770ff;
  padding: 3px;
  font-weight: 600;
  hover:{
    background-color: #f3f4f6;
  color: #4770ff;
  font-weight: 600;
  fill: #4770ff;
  }
}
.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-25px); }
}
.animate {
  animation: float 2s ease-in-out infinite;
}
/* Scrollning umumiy kengligi */
::-webkit-scrollbar {
  width: 8px;
}

/* Scroll fon (background) */
::-webkit-scrollbar-track {
  background: #111; /* bg rang shu yerda */
  border-radius: 10px;
}

/* Scrollning harakatlanuvchi qismi */
::-webkit-scrollbar-thumb {
  background: #4770ff;
  border-radius: 10px;
}

/* Hover bo'lganda */
::-webkit-scrollbar-thumb:hover {
  background: #4770ff;
}
